.ephesis-regular {
    font-family: "Ephesis", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url(3-Sarah-Marino-Death-Valley-Mud-Cracks-Black-White-1000px.jpg);
    color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.subcontainer {
    width: 100%;
    padding: 40px;
}

.subcontainer h1 {
    font-size: 2em;
    text-align: center;
    color: #fff;
}

.maincontainer {
    display: flex;
    justify-content: center;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 2px rgba(255, 255, 255, .5);
    width: 430px;
    height: 480px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow: hidden;
}

label {
    /* font-family: Script; */
    font-family: "Ephesis", serif;
    font-size: 28px;
    border: none;
    font-weight: 800;
}

button {
    font-family: "Ephesis", serif;
    font-size: 28px;
    font-weight: 800;
    background: transparent;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border: 2px solid rgba(255, 255, 255, .5);
    overflow: hidden;
}

input {
    border-radius: 15px;
    height: 22px;
    width: 180px;
}

#message {
    border-radius: 15px;
    height: 22px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}